<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>?f=1" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Leather</title>
    <%= if @current_user do %>
      <script type="text/javascript">
        window.LEATHER = {
          csrfToken: '<%= Plug.CSRFProtection.get_csrf_token() %>',
          user: {
            email: '<%= @current_user.email %>',
            token: '<%= @user_token %>'
          },
          env: '<%= Mix.env %>'
        }
      </script>
    <% end %>
  </head>
  <body>
    <%= if get_flash(@conn, :info) do %>
      <p style="margin: 10px;" class="notification is-success" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <p style="margin: 10px;" class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/base.js") %>"></script>
  </body>
</html>
