.navbar-menu {
  .navbar-item:hover, .navbar-link:hover {
    background: #F7F5F0 - 15 !important;
  }

  .navbar-item.active {
    background: #F7F5F0 - 25 !important;
  }
}

a.logo:hover {
  background: #F7F5F0;
}

aside.sidebar {
  border-right: 1px solid #F7F5F0 - 15;
  padding-bottom: 24px;
  padding-top: 24px;

  a.active {
    background: #F5F5F5 - 15;
  }
}

.content {
  padding: 24px !important;
}
