.navbar-menu {
  .navbar-item:hover, .navbar-link:hover {
    background: #F7F5F0 - 15 !important;
  }
}

a.logo:hover {
  background: #F7F5F0;
}

aside.sidebar {
  border-right: 1px solid #F7F5F0 - 15;
  min-height: 1000px;
  padding-top: 24px;
  position: static;

  a.active {
    background: #F5F5F5 - 15;
  }
}

.content {
  padding: 24px !important;
}
